body{
  background-color: #ce93d8;
  
}
.headerContainer{
 background-color: #ab47bc;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: auto;
      color: floralwhite;
      margin-bottom: 30px;
    }
    .img{
      height: 300px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 15px;
    }
    .art{
      padding: 15px;
      height: 300px;
      width: 300px;
    }
    .songInfoContainer{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      margin: 15px auto;
    } 
    .footerContainer{
      background-color: #ab47bc;
      height: auto;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
     padding: 10px;
    }
        .audio{
          display: none;
        }
    





.searchCloseBtn{
  display: flex;
  justify-content: flex-end;
}


.mediaBtn{
  display: flex;
  justify-content: center;
  align-items: center;

}


